nav{
    display: flex;
    height: auto;
    margin-bottom: 10px;
    background-color: #5B5B34;
}

#container .principal{
    float: left;
    color: white;
    border-right: 1px solid #FFF;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 25px;
}

#container a:hover{
    color: white;
    font-size: larger;
    font-weight: bold;
    background: #FF7500;
}

#container a.last{
    border-right: 0px;
}

@media only screen and (max-width:600px) {
    nav #container .principal{
        width: 100%;
        border-right: 0px;
    }

}